.LoginFormSection{
    height: 120vh;
    background: #F1F2F7;
}

.LoginFormArea{
    max-width: 540px;
    height: 500px;
    width: 95%;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}